extends layout

block content
    div.form-panel
        div.header Delete Pokemon
            form(action=`/edit/${pokemon.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='text' id='name' name='name' value=pokemon.name)
                div.form-input
                    label(for='type') Pokemon Type:
                    input(type='text' id='type' name='type' value=pokemon.type)
                div.form-input
                    label(for='image') Pokemon Image:
                    input(type='text' id='image' name='image' value=pokemon.picture)
                div.form-input
                    label(for='move1cost1') Move 1 Cost:
                    input(type='text' id='move1cost1' name='move1cost1' value=pokemon.move1cost1)
                div.form-input
                    label(for='move1cost2') Move 1 Cost:
                    input(type='text' id='move1cost2' name='move1cost2' value=pokemon.move1cost2)
                div.form-input
                    label(for='move1name') Move 1 Name:
                    input(type='text' id='move1name' name='move1name' value=pokemon.move1name)
                div.form-input
                    label(for='move1power') Move 1 Power:
                    input(type='text' id='move1power' name='move1power' value=pokemon.move1power)
                div.form-input
                    label(for='move2cost1') Move 2 Cost:
                    input(type='text' id='move2cost1' name='move2cost1' value=pokemon.move2cost1)
                div.form-input
                    label(for='move2cost2') Move 2 Cost:
                    input(type='text' id='move2cost2' name='move2cost2' value=pokemon.move2cost2)
                div.form-input
                    label(for='move2cost3') Move 2 Cost:
                    input(type='text' id='move2cost3' name='move2cost3' value=pokemon.move2cost3)
                div.form-input
                    label(for='move2name') Move 2 Name:
                    input(type='text' id='move2name' name='move2name' value=pokemon.move2name)
                div.form-input
                    label(for='move2power') Move 2 Power:
                    input(type='text' id='move2power' name='move2power' value=pokemon.move2power)
                div.form-input
                    label(for='weakness') Weakness:
                    input(type='text' id='weakness' name='weakness' value=pokemon.weakness)
                div.form-input
                    label(for='resistance') Move 1 Cost:
                    input(type='text' id='resistance' name='resistance' value=pokemon.resistance)
                div.form-input
                    label(for='retreatcost') Retreat Cost:
                    input(type='text' id='retreatcost' name='retreatcost' value=pokemon.retreatcost)
                div.button-row
                    a.button.cancel(href='/') Cancel
                    if (mode==='edit')
                        a.button.delete(href=`/delete/${pokemon.id}`) Delete
                    button.button.save(type='submit') Submit